<% layout('layout/boilerplate') %>


<body>
     <div class="container mt-5 main-box">
    <h3 class="text-center mb-4">LOGIN YOUR ACCOUNT</h3>
    <form action="/user/login" method="post" class="mx-auto" style="max-width: 400px;">
      <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
      <br><br><hr>
      <a href="/user/signup" class="btn btn-outline-primary w-50 ">Create new Account</a>
    </form>
  </div>

</body>

